@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.about-genesis-container {
    display: flex;
    height: 100vh; /* Fullscreen height */
    width: 100%;
    box-sizing: border-box;
  }
  
  .left-section {
    flex: 1;
    width: 50%;
    background-color: #f2f2f2; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    height: 96%;
  }
  
  .left-section img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-section h1 {
    font-size: 48px;
    color: #1c1c1c;
    margin-bottom: 20px;
    font-family: "IM Fell English", sans-serif;
    font-weight: normal;
  }
  
  .right-section p {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
  }
  
  .genesis-buttons {
    display: flex;
    gap: 20px;
  }
  
  .genesis-buttons button {
    padding: 10px 25px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: #0b5958;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .genesis-buttons button:hover {
    background-color: #4ea4a2;
  }

 
  @media (max-width: 768px) {
    .about-genesis-container {
        flex-direction: column; /* Stack sections vertically */
        height: auto;
    }

    .left-section {
        display: none; /* Hide left section on smaller screens */
    }

    .right-section {
        text-align: center;
        padding: 20px;
    }

    .right-section h1 {
        font-size: 36px; /* Reduce size for mobile */
    }

    .right-section p {
        font-size: 14px;
    }

    .genesis-buttons {
        flex-direction: column; /* Stack buttons */
        gap: 10px;
    }

    .genesis-buttons button {
        width: 100%;
        padding: 12px;
    }
}