<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.about-genesis-container {
    display: flex;
    height: 100vh; /* Fullscreen height */
    width: 100%;
    box-sizing: border-box;
  }
  
  .left-section {
    flex: 1;
    width: 50%;
    background-color: #f2f2f2; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .left-section img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-section h1 {
    font-size: 48px;
    color: #1c1c1c;
    margin-bottom: 20px;
    font-family: "IM Fell English", sans-serif;
    font-weight: normal;
  }
  
  .right-section p {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
  }
  
  .genesis-buttons {
    display: flex;
    gap: 20px;
  }
  
  .genesis-buttons button {
    padding: 15px 30px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    background-color: #0b5958;
    color: #fff;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .genesis-buttons button:hover {
    background-color: #4ea4a2;
  }
  
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about-genesis{
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    height: 85vh;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img{
    width: 40vw;
    object-fit: cover;
}

.about-text{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card{
    padding: 7.5vw;
}

.about-card h2{
    font-size: 2.5rem;
    margin: 0;
}

.about-links{
    display: flex;
    justify-content: space-between;
}

.about-links a{
    font-family: 'Poppins', sans-serif;;
    color: #000;
    text-decoration: none;
    position: relative;
}

.about-links a::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    width: 0;
    background: black;
    transition: width .2s;
}

.about-links a:hover::after {
    width: 100%;
}
>>>>>>> e0faaaf (Complete Genesis web-page)
