.convenors-container {
    background-color: white;
    min-height: 100vh;
    padding: 2rem;
}

.convenors-title {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 40px;
    text-decoration: underline;
}

hr.divide {
    width: 80%;
    margin: 20px auto;
    border: 0px solid black;
    color: black;
    height: 1px;
    background: black;
}

.convenors-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.convenor-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 30px 60px;
    width: 70%;
    margin: 30px auto;
 
}

.convenor-section.right {
    flex-direction: row-reverse;
}

.convenor-image {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: white;
    position: relative;
}

.convenor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.convenor-content {
    background-color: white;
    border-radius: 4rem;
    padding: 2rem;
    flex-grow: 1;
    min-height: 200px;
    max-width: 100%;
    height: 100%;
    color: white;
    text-align: center;
       border: 1px solid black;
}

h1.ph1 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    /* border: 1px solid #12383b; */
    background: white;
    border-radius: 40px;
    width: 80%; 
    max-width: 600px;
    margin: 0 auto; 
    padding: 10px 20px; 
    font-size: 1.5rem; 
    text-decoration: underline;
}

h2.conh2 {
    color: black;
    text-align: center;
    margin-top: 35px;
}
