ul#countdown {
    position: relative;
    height: 20%;
    transform: translateY(-50%);
    padding-left: 0;
    margin: 0 auto;
    color: black;
    border: 1px solid #adafb2;
    border-width: 1px 0;
    overflow: hidden;

    li {
        margin: 0 -3px 0 0;
        padding: 0;
        display: inline-block;
        width: 25%;
        font-size: 50px;
        text-align: center;

        .label {
            color: #adafb2;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}
