@import url(https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap);
.fair-title{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding: 2rem; 
}


.fair-title h2{
    font-family: "Libre Bodoni",sans-serif;
    font-weight: 700;
    font-size: 12.5vw;
    margin: 0;
}


#atal-tinkering-labs{
    font-family: "Libre Bodoni",sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    align-self: flex-start;
}

.fair-text{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3rem;
    
}

.fair-text p{
    text-align: left;
    font-size: 1.25rem;
    width: 75vw;
}