@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IM+Fell+English:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.genesis-bg {
    
    background-image: url(../images/genesis-background.png);
    background-size: cover;
}


.arrow {
    color: black;
    padding-inline: 10px;
    padding-top: 2px;
    padding-left: 15px;
}

.back {
    display: flex;
    align-items: center;
    font-style: italic;
}

.back-link {
    color: black;
    text-decoration: none;
}

.gen-header {
    font-size: 18px;
    padding: 10px;
    font-family: "IM Fell English", serif;
    padding-bottom: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}

.iic-logo {
    width: auto;
    height: 20px;
    padding-inline: 10px;
}

.genesis-title {
    align-content: center;
    letter-spacing: 3px;
}

.amrita-emblem {
    width: 4em;
    padding: 10px;
}

.amrita-emblem-container {
    display: flex;
    justify-content: right;
    margin-top: -10px;
    margin-right: 20px;
}

.bottom {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 2em;
}

.left {
    width: 40%;
    display: flex;
    justify-content: right;
}

.genesis-logo {
    margin-top: 90px;
    height: 30em;
}

.right {
    width: 60%;
    display: inline;
    justify-items: left;
}

.gen-reg-container {
    padding: 5em;
    justify-items: right;
}

.genesis {
    margin-top: 120px;
    font-family: "Dancing Script", cursive;
    font-size: 120px;
}

.register {
    align-items: first baseline;
}

.reg-arrow {
    height: 20px;
    width: auto;
    padding-left: 15px;
    rotate: 135deg;
}

.countdown {
    justify-items: left;
    font-size: 20;
    padding-top: 6em;
    width: 40%;
    height: 20%;
    font-family: "Roboto";
}

body {
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.title {
  font-size: 3rem; 
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 1rem; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .title h1 {
    font-size: 4rem;
  }
  
  .title {
    margin-bottom: 60px;
  }
}


@media (max-width: 1200px) {
  .gen-header {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .genesis-logo {
    height: 25em;
  }

  .right {
    width: 100%;
  }

  .left {
    width: 100%;
    justify-content: center;
  }

  .countdown {
    width: 60%;
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .genesis {
    font-size: 80px;
  }

  .countdown {
    width: 80%;
    font-size: 16px;
  }

  .gen-reg-container {
    padding: 2em;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .genesis {
    font-size: 60px;
  }

  .countdown {
    width: 90%;
    font-size: 14px;
  }

  .gen-header {
    padding-bottom: 5em;
  }
}


@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    max-width: 90%;
    padding: 1rem;
  }
}


