.arrow {
    color: black;
    padding-inline: 10px;
    padding-top: 2px;
}

.gen-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}

.genesis-title {
    align-content: center;
}

.amrita-emblem-container {
    display: flex;
    justify-content: right;
}

.right {
    width: 60%;
}
