#IIClogo {
    width: 84px;
    height: 38px;
    margin-left: 30px;
    margin-top: -80px;
    margin-bottom: 135px;
    margin-right: 20px;
}

#logo-line {
  display: inline-block;
  width: 0.7px;
  height: 30px;
  margin-bottom: 135px;
  background-color: #278a89;
}

#Amritalogo {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    margin-top: -20px;
    margin-bottom: 100px;
    margin-right: 10px;
}

#logo {
    float: left;
}

.nav a{
    color: #154746;
    text-decoration: none;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top:40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

   
   
}

.nav a:hover{
    border-bottom: 1px solid #ffc107 ;
    color: #2b7a77;

}

.nav a:active{
    color: #000000;
    background-color: #ddd;
   
}

.nav{
    float: right;
    margin-top: 15px;
    margin-right: 27px;
    align-items: center;
}

header {
    position: fixed; /* Keeps it on top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* White with 70% transparency */
    backdrop-filter: blur(25px); /* Adds a blur effect */
    max-height: 57px;
    padding: 0px 10px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.5); /* Slightly faded border */
    z-index: 1000; /* Ensures it stays above other elements */
}