.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    height: 75px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.5);
    z-index: 1000;
}


#Amritalogo {
    width: 10vw;
    max-width: 100px;
    height: auto;
    margin-left: 2vw;
    margin-right: 1vw;
}

#IIClogo {
    height: 5vh;
    max-height: 38px;
    margin-left: 3vw;
    margin-right: 2vw;
}

#logo-line {
    width: 1px;
    height: 30px;
    background-color: #278a89;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
    margin-right: 5vw;
    min-width: 50%;
}


.nav a {
    color: #154746;
    text-decoration: none;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.3s ease;
    padding: 10px;
}


.nav a:hover {
    border-bottom: 2px solid #ffc107;
    color: #2b7a77;
}

.nav a:active {
    color: #000000;
    background-color: #ddd;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 10px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #154746;
    transition: all 0.3s ease-in-out;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.nav.hidden {
    display: none;
}

.nav.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0;
    width: 60%;
    background: rgba(255, 255, 255, 0.95);
    text-align: right;
    padding: 10px 15px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}


@media (max-width: 480px) {
    .nav.visible {
        width: 100%; 
        text-align: center;
    }
}
