.team-container {
padding: 100px 20px;
background: linear-gradient(to bottom, #ebf5ff, #ffffff);
text-align: center;
}

.team-header h1 {
font-size: 50px;
font-weight: bold;
color: #333;
margin-bottom: 10px;
}

.team-header p {
font-size: 26px;
color: #666;
margin-bottom: 40px;
}

.team-section {
margin-bottom: 50px;

}

.team-grid {
display: grid;
gap: 35px;
justify-content: center;
}

.grid-two {
grid-template-columns: repeat(2, 1fr);
}

.grid-three {
grid-template-columns: repeat(3, 1fr);
}
.grid-one {
    display:grid;
    justify-content: center;
    width: 30;
    flex-wrap:wrap;
}
