@import url(https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap);
.workshop-title{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem;
}


.workshop-title h2{
    font-family: "Libre Bodoni",sans-serif;
    font-weight: 700;
    font-size: 12.5vw;
    margin: 1rem;
    height: 12.5vw;
}


.workshop-1-text{
    min-height: auto;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    
}

.workshop-1-text h3{
    text-align: right;
    margin-right: 5rem;
}
.workshop-1-text p{
    text-align: right;
    font-size: 1.25rem;
    width: 75vw;
    margin-right: 3rem;
}


.workshop-1-details h3{
    margin: 0;
    font-size: 3rem;
    width: 75vw;
}

.workshop-2-text{
    min-height: 50vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-left: 3rem;
}

.workshop-2-details{
    text-align: left;
    font-size: 1.25rem;
    width: 75vw;
    margin: 0;
}

.workshop-2-details h3{
    margin: 0;
    font-size: 3rem;
    width: 75vw;
}

@media (max-width: 768px){
    .workshop-1-text h3{
        font-size: 2rem;
    }
    .workshop-2-text h3{
        font-size: 2rem;
    }
}