#IIClogo {
    width: 108px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#logo-line {
  display: inline-block;
  width: 3px;
  height: 60px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

#Amritalogo {
    width: 192px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#logo {
    float: left;
}

.nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    font-family: 'Agrandir', sans-serif;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
}

.nav a:hover{
    color: #000000;
    background-color: #ddd;
}

.nav a:active{
    color: #000000;
    background-color: #ddd;
}

.nav{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    align-items: center;
}

header{
    overflow: hidden;
    background-color: #2b7a77;
    padding: 20px 10px;
}
